---
title: Bithomp API reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL
  - javascript: JavaScript
  - php: PHP

toc_footers:
  - <a href='https://bithomp.com/developer'>Request an API Key</a>
  - <a href='https://write.as/bithomp/xrp-ledger-domain-verification'>XRPL domain verification</a>
  - <a href='https://github.com/bithomp/slate'>Edit this documentation on GitHub</a>

includes:
  - errors

search: true
---

# Introduction

Welcome to the Bithomp API!

Bithomp API endpoints will give you access to information on XRPL addresses, usernames, validators, services and more.

We have language bindings in Shell, JavaScript and PHP. You can view code examples in the dark area to the right, and you can switch the programming language of the examples with the tabs in the top right.

# Changelog

### 21st of February 2022

A new endpoint was added:

* <a href="#nft-xls-20">**Get information for ONE: NFT (XLS-20)**</a>

### 15th of February 2022

The new query parameters: `ledgerInfo`, `nfts` were added to the <a href="#address">**Address**</a> API end-point:

* <a href="#address">**Get information for ONE: Address**</a>

### 7th of February 2022

The new query parameters: `payString`, `inception`, `flare`, `nickname` were added to the <a href="#address">**Address**</a> API end-point:

* <a href="#address">**Get information for ONE: Address**</a>

### 31st of January 2022

Two new endpoints were added:

* <a href="#currency-hex-or-xls-14-nft">**Get information for ONE: Currency (HEX or XLS-14 NFT)**</a>
* <a href="#currencies-hex-or-xls-14-nfts">**Get information for MANY: Currencies (HEX or XLS-14 NFT)**</a>

# Direct URL examples

### XRPL Explorer

* <a href="https://bithomp.com/explorer/F10AB598E3197342C8FE173FB3AB5408E30B00F7B4838FDA645BB01AADBD9112">https://bithomp.com/explorer/{txid}</a>
* <a href="https://bithomp.com/explorer/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B">https://bithomp.com/explorer/{address}</a>
* <a href="https://bithomp.com/explorer/bitstamp">https://bithomp.com/explorer/{username}</a>
* <a href="https://bithomp.com/explorer/02C7004B041A91880000526964776F726C643836">https://bithomp.com/explorer/{NFT-XLS14 || HEXcurrency}</a>
* <a href="https://bithomp.com/explorer/rabbit$bithomp.com">https://bithomp.com/explorer/{payString}</a>
* <a href="https://bithomp.com/explorer/F10AB598E3197342C8FE173FB3AB5408E30B00F7B4838FDA645BB01AADBD9112#comment">https://bithomp.com/explorer/{txid}#comment</a>
* <a href="https://bithomp.com/explorer/rsuUjfWxrACCAwGQDsNeZUhpzXf1n1NK5Z#comment">https://bithomp.com/explorer/{address}#comment</a>
* <a href="https://bithomp.com/explorer/Bithomp#comment">https://bithomp.com/explorer/{username}#comment</a>

### Validator pages

* <a href="https://bithomp.com/validators/nHB8QMKGt9VB4Vg71VszjBVQnDW3v3QudM4DwFaJfy96bj4Pv9fA">https://bithomp.com/validators/{validor pub key}</a>

### Username registration
* <a href="https://bithomp.com/username/Bithomp">https://bithomp.com/username/{username}</a>
* <a href="https://bithomp.com/username/rsuUjfWxrACCAwGQDsNeZUhpzXf1n1NK5Z">https://bithomp.com/username/{address}</a>

# Authentication

> To authorize, use this code:

```shell
# With shell, you can just pass the correct header with each request
curl "api_endpoint_here"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
// With javascript, you can just pass the correct header with each request
// Include jquery in order to use $.ajax or rewrite to vanila.js

function bithompRequest(url, callback) {
  $.ajax({
     url: url,
     type: "GET",
     contentType: "application/json",
     headers: {
        "x-bithomp-token": "abcd-abcd-0000-abcd-0123abcdabcd"
     },
     success: function(result) {
        callback(result);
     },
     error: function(error) {
        console.log(error);
        callback({"error": "error occurred"});
     }
  });
}

bithompRequest("api_endpoint_here", callback);
//replace callback with your function to process a received json

```

```php
function curl_bithomp($url) {
    $ch = curl_init();
    curl_setopt($ch, CURLOPT_URL, $url);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
    curl_setopt($ch, CURLOPT_HTTPHEADER,
        array('x-bithomp-token:abcd-abcd-0000-abcd-0123abcdabcd')
    );
    $output = curl_exec($ch);
    curl_close($ch);
    return $output;
}

print curl_bithomp("api_endpoint_here")
```

> Make sure to replace `abcd-abcd-0000-abcd-0123abcdabcd` with your API key.

In order to use our APIs you need to request an API key via [the following form](https://bithomp.com/developer).

Bithomp expects for the API key to be included in all API requests to the server in a header that looks like the following:

`x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd`

<aside class="notice">
You must replace <code>abcd-abcd-0000-abcd-0123abcdabcd</code> with your personal API key.
</aside>

# Get status

## Services (Last update)

```shell
curl "https://bithomp.com/api/v2/services/lastUpdate"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/services/lastUpdate", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/services/lastUpdate");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "lastUpdate": 1579527766,
  "totalServices": 475,
  "totalAddresses": 1832
}
```

This endpoint returns a timestamp of last DB update for services/addresses.

### HTTP Request

`GET https://bithomp.com/api/v2/services/lastUpdate`

### Response Format

Field | Value | Description
----- | ----- | -----------
lastUpdate | Integer	| UNIX timestamp of the last data update.
totalServices | Integer | The amount of identified services.
totalAddresses | Integer | The amount of identified addresses.

# Get information for ONE

## Address

```shell
curl "https://bithomp.com/api/v2/address/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B?username=true&service=true&verifiedDomain=true&inception=true&ledgerInfo=true"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getAddressInfo(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/address/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B?username=true&service=true&verifiedDomain=true&inception=true&ledgerInfo=true", getAddressInfo);
```

```php
$addressInfo = curl_bithomp("https://bithomp.com/api/v2/address/rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B?username=true&service=true&verifiedDomain=true&inception=true&ledgerInfo=true");
print $addressInfo;
```

> The above command returns JSON structured like this:

```json
{
  "address": "rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B",
  "xAddress": "X7WZKEeNVS2p9Tire9DtNFkzWBZbFtJHWxDjN9fCrBGqVA4",
  "inception": 1361216760,
  "initialBalance": 1500,
  "genesis": false,
  "ledgerInfo": {
    "activated": true,
    "error": null,
    "ledger": 69617915,
    "ledgerTimestamp": 1645995600,
    "balance": "6511036080064",
    "flags": {
      "passwordSpent": false,
      "requireDestTag": true,
      "requireAuth": false,
      "depositAuth": false,
      "disallowXRP": true,
      "disableMaster": false,
      "noFreeze": false,
      "globalFreeze": false,
      "defaultRipple": true
    },
    "ownerCount": 387,
    "previousTxnID": "2B0A02B899DC0D384AC14E0AB6DF8E32DBB9941D06696233A6BF03C0EB577027",
    "previousTxnLgrSeq": 69617676,
    "sequence": 4692,
    "accountTxnID": null,
    "mintedTokens": 1,
    "burnedTokens": 12,
    "regularKey": null,
    "ticketCount": 5,
    "signerList": {
      "previousTxnID": "965730F660A808927B7A850F0408FF6532BA385641FC1DC67E2907F41A9E7B75",
      "previousTxnLgrSeq": 62412856,
      "signerQuorum": 2,
      "flags": {
        "oneOwnerCount": true
      },
      "signerEntries": [
        {
          "account": "re3LGjhrCvthtWWwrfKbVJjXN9PYDeQDJ",
          "signerWeight": 1
        },
        {
          "account": "rkPA5RwLVPnJgpcsrzYvHwx1HVfDb6zD3",
          "signerWeight": 1
        },
        {
          "account": "rpcL6T32dYb6FDgdm4CnC1DZQSoMvvkLRd",
          "signerWeight": 1
        }
      ]
    },
    "domain": "bitstamp.net",
    "emailHash": "5b33b93c7ffe384d53450fc666bb11fb",
    "messageKey": null,
    "tickSize": null,
    "transferRate": 1.002,
    "blackholed": false
  },
  "service": {
    "name": "Bitstamp",
    "domain": "bitstamp.net",
    "socialAccounts": {
      "twitter": "Bitstamp",
      "facebook": "Bitstamp",
      "youtube": null,
      "instagram": null,
      "linkedin": null,
      "reddit": null,
      "medium": null,
      "telegram": null
    }
  },
  "username": "Bitstamp",
  "verifiedDomain": null,
  "nfts": [
    {
      "flags": {
        "burnable": false,
        "onlyXRP": false,
        "trustLine": false,
        "transferable": true
      }, 
      "issuer": "rGJn1uZxDX4ksxRPYuj2smP7ZshdwjeSTG",
      "tokenID": "000861A8A7C507A12088BF6A6BB62BAFEE9CDAABA2961DB216E5DA9C00000001",
      "tokenTaxon": 0,
      "transferFee": 25000,
      "uri": "68747470733A2F2F6578616D706C652E636F6D2F6D795F6E6674",
      "nftSerial": 1
    }
  ]
}
```

This endpoint retrieves information for a requested XRPL address.

### HTTP Request

`GET https://bithomp.com/api/v2/address/<address>`

### URL Parameters

Parameter | Description
--------- | -----------
address | The XRPL address, can be old r-address or a new X-address

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
service | false | If set to true, the result will also include Service details.
username | false | If set to true, the result will also include a `username` (rippletrade or bithomp).
payString | false| If set to true, the result will also include a bithomp `payString` for that address.
verifiedDomain | false | If set true, the result will include a <a href="https://coil.com/p/ihomp/XRP-Ledger-domain-verification/uJKPWh_4C">`verifiedDomain`</a> if such exists.
hashicon | false | If set true, the result will include `hashicon` which can be used in img's src="" or in css, as background's url. (The icon is the same for x-address and r-address, such hashicons used in Xumm and Bithomp.)
parent | false | If set to true, the result will include the same info for a parent account. Also it will add to the root object: `genesis`, `initialBalance`, `inception`
nickname | false | If set to true, the result will include an old `nickname` from bitcointalk forum.
flare | false | if set to true, the result will include `flare: {spark, songbird, address}`.
inception | false | if set to true, the result will include: `genesis`, `initialBalance`, `inception`.
ledgerInfo | false | if set to true, the result will include `ledgerInfo` object. (Note: A fee to use this parameter might be introduced in the feature)
ledgerTimestamp | null | ISO timestamp or unix timestamp (if set the request will return `ledgerInfo` data for that timestamp)
nfts | false | if set to true, the result will include `nfts` array. (XLS-20 only, experemental, changes might occur)

<aside class="notice">
Exclude unnecessary parameters to make your request faster.
</aside>

## Username

```shell
curl "https://bithomp.com/api/v2/username/xrptipbot?service=true&parent=true&verifiedDomain=true"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/username/xrptipbot?service=true&parent=true&verifiedDomain=true", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/username/xrptipbot?service=true&parent=true&verifiedDomain=true");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "address": "rPEPPER7kfTD9w2To4CQk6UCfuHM9c6GDY",
  "xAddress": "XV5sbjUmgPpvXv4ixFWZ5ptAYZ6PD2gYsjNFQLKYW33DzBm",
  "inception": 1513126312,
  "username": "xrptipbot",
  "service": {
    "name": "XRP Tip Bot",
    "domain": "xrptipbot.com",
    "socialAccounts": {
      "twitter": "xrptipbot"
      "facebook": null,
      "youtube": null,
      "instagram": null,
      "linkedin": null,
      "reddit": null,
      "medium": null,
      "steemit": null,
      "telegram": null
    }
  },
  "verifiedDomain": "xrptipbot.com",
  "parent": {
    "address": "rDsbeomae4FXwgQTJp9Rs64Qg9vDiTCdBv",
    "xAddress": "XV3oNHx95sqdCkTDCBCVsVeuBmvh2du1vBfJR24EqdgwHDW",
    "inception": 1481884572,
    "service": {
      "name": "Bitstamp",
      "domain": "bitstamp.net",
      "socialAccounts": {
        "twitter": "Bitstamp",
        "facebook": "Bitstamp",
        "youtube": null,
        "instagram": null,
        "linkedin": null,
        "reddit": null,
        "medium": null,
        "steemit": null,
        "telegram": null
      }
    },
  }
}
```

This endpoint retrieves information for a requested Username.

### HTTP Request

`GET https://bithomp.com/api/v2/username/<username>`

### URL Parameters

Parameter | Description
--------- | -----------
username | A bithomp or an old rippletrade username

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
service | false | If set to true, the result will also include Service details.
verifiedDomain | false | If set true, the result will include a <a href="https://coil.com/p/ihomp/XRP-Ledger-domain-verification/uJKPWh_4C">verifiedDomain</a> if such exists.
hashicon | false | If set true, the result will include hashicon which can be used in img's src="" or in css, as background's url. (The icon is the same for x-address and r-address, such hashicons used in ToastWallet and Bithomp.)
parent | false | If set to true, the result will include the same info for a parent account.

<aside class="notice">
Exclude unnecessary parameters to make your request faster.
</aside>

## Currency (HEX or XLS-14 NFT)

```shell
curl "https://bithomp.com/api/v2/currency/02C7004B041A91880000526964776F726C643836"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/currency/02C7004B041A91880000526964776F726C643836", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/currency/02C7004B041A91880000526964776F726C643836");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "type": "nft",
  "currencyCode": "02C7004B041A91880000526964776F726C643836",
  "currency": "Ridworld86",
  "cti": 56013842556817800,
  "ctiLedger": 68850056,
  "ctiTxIndex": 75,
  "ctiValid": true,
  "timestamp": 1641544270,
  "ctiTx": {
    "hash": "79C0E05CB9FC2B74F0B9716C15A6E2F924DBC8658931FD96AC8B158308A9886C",
    "type": "payment",
    "account": "rGpmRmU3Q5gyhhyWLWugkPX6SA8FyqXyE5",
    "counterparty": null,
    "destination": "r4VzEm7Jbgg3QkPBgMscoppz6JuzK2Jkbd",
    "memos": [
      {
        "Memo": {
          "MemoData": "526964776F726C6438362E205261726974793A2052617265204C6567656E642E20416D6F756E74206D696E7465643A2035383920756E6974732E20526964776F726C64C2AE20436F6C6C65637469626C65204E465420436172642047616D652E20496C6C7573747261746F723A205765622041727469737469632E",
          "MemoFormat": "746578742F706C61696E",
          "MemoType": "4465736372697074696F6E"
        }
      },
      {
        "Memo": {
          "MemoData": "456E69676D61",
          "MemoFormat": "746578742F706C61696E",
          "MemoType": "417574686F72"
        }
      },
      {
        "Memo": {
          "MemoData": "697066733A2F2F626166796265696779347869796C347A7062376C667474797832356E7A796E6F32647369766A777378657337376467336936356767796666637665",
          "MemoFormat": "746578742F757269",
          "MemoType": "5072696D617279557269"
        }
      }
    ]
  },
  "nft": {
    "type": "xls14",
    "description": "Ridworld86. Rarity: Rare Legend. Amount minted: 589 units. Ridworld® Collectible NFT Card Game. Illustrator: Web Artistic.",
    "author": "Enigma",
    "primaryUri": "ipfs://bafybeigy4xiyl4zpb7lfttyx25nzyno2dsivjwsxes77dg3i65ggyffcve",
    "backupUri": null,
    "image": null,
    "data": null
  }
}
```

This endpoint retrieves information for a requested currency (HEX or XLS-14 NFT).

### HTTP Request

`GET https://bithomp.com/api/v2/currency/<currency>`

### URL Parameters

Parameter | Description
--------- | -----------
currency  | A currency (HEX or XLS-14 NFT)

<aside class="notice">
You can retrieve information for MANY currencies in one request:
<a href="#currencies-hex-or-xls-14-nfts">Get information for MANY: Currencies (HEX or XLS-14 NFT)</a>
</aside>

## NFT (XLS-20)

```shell
curl "https://bithomp.com/api/v2/nft/000861A8BB208DE9CB0384F2D46901203CA958EEA4C0AF286862C7F90000005E?sellOffers=true&buyOffers=true"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/nft/000861A8BB208DE9CB0384F2D46901203CA958EEA4C0AF286862C7F90000005E?sellOffers=true&buyOffers=true", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/nft/000861A8BB208DE9CB0384F2D46901203CA958EEA4C0AF286862C7F90000005E?sellOffers=true&buyOffers=true");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "flags": {
    "burnable": false,
    "onlyXRP": false,
    "trustLine": false,
    "transferable": true
  },
  "issuer": "rJhSM8539zfoQwq7NomvEvt9xSbppf38Ng",
  "tokenID": "000861A8BB208DE9CB0384F2D46901203CA958EEA4C0AF286862C7F90000005E",
  "tokenTaxon": 0,
  "transferFee": 25000,
  "sequence": 94,
  "sellOffers": [
    {
      "amount": "850000000",
      "index": "B54B49719DC80B40D66E229FC02CC5DABF7D4496B395F87C369FA6235AA6B37E",
      "owner": "rGJn1uZxDX4ksxRPYuj2smP7ZshdwjeSTG",
      "destination": "rM3UEiJzg7nMorRhdED5savWDt1Gqb6TLw",
      "expiration": 1582437632
    }
  ],
  "buyOffers": [
    {
      "amount": "935000000",
      "index": "3D47DA5CE9E4D9DB7D8D1FE78E9E1ECA19D8DE21A29C78FD95A856ADF2472674",
      "owner": "rN5wU5VpqfxZ5q9duP3EhP8rw8y9xR1TNL",
      "destination": "rM3UEiJzg7nMorRhdED5savWDt1Gqb6TLw",
      "expiration": 1582437632
    }
  ]
}
```

This endpoint retrieves information for a requested NFT (XLS-20).

### HTTP Request

`GET https://bithomp.com/api/v2/nft/<nftID>`

### URL Parameters

Parameter | Description
--------- | -----------
nftID  | An NFT ID (XLS20)

### Query Parameters

Parameter | Default | Description
--------- | ------- | -----------
sellOffers | false | If set true, the result will include `sellOffers`.
buyOffers | false | If set to true, the result will include `buyOffers`.

## Validator

```shell
curl "https://bithomp.com/api/v2/validator/nHB8QMKGt9VB4Vg71VszjBVQnDW3v3QudM4DwFaJfy96bj4Pv9fA"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getValidatorAddress(json) {
  console.log(json.publicKey + " validator's XRPL address: ", json.address);
}
bithompRequest("https://bithomp.com/api/v2/validator/nHB8QMKGt9VB4Vg71VszjBVQnDW3v3QudM4DwFaJfy96bj4Pv9fA", getValidatorAddress);
```

```php
$validatorAddress = curl_bithomp("https://bithomp.com/api/v2/validator/nHB8QMKGt9VB4Vg71VszjBVQnDW3v3QudM4DwFaJfy96bj4Pv9fA");
print $validatorAddress;
```

> The above command returns JSON structured like this:

```json
{
  "publicKey": "nHB8QMKGt9VB4Vg71VszjBVQnDW3v3QudM4DwFaJfy96bj4Pv9fA",
  "address": "rKontEGtDju5MCEJCwtrvTWQQqVAw5juXe"
}
```

This endpoint retrieves a XRPL address of a specific validator
<a href="https://github.com/codetsunami/xrpl-tools/blob/master/validator-address-tool/vatool.js">computed from the validator public key</a>

### HTTP Request

`GET https://bithomp.com/api/v2/validator/<validatorPublicKey>`

### URL Parameters

Parameter | Description
--------- | -----------
validatorPublicKey | The public key of the validator to retrieve

# Get information for MANY

## Currencies (HEX or XLS-14 NFTs)

```shell
curl "https://bithomp.com/api/v2/currencies/?currencyList=02090001014A4E43454C53436F6E746573743031,02C7004B041A91880000526964776F726C643836,534F4C4F00000000000000000000000000000000"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/currencies/?currencyList=02090001014A4E43454C53436F6E746573743031,02C7004B041A91880000526964776F726C643836,534F4C4F00000000000000000000000000000000", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/currencies/?currencyList=02090001014A4E43454C53436F6E746573743031,02C7004B041A91880000526964776F726C643836,534F4C4F00000000000000000000000000000000");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "02090001014A4E43454C53436F6E746573743031": {
    "type": "nft",
    "currencyCode": "02090001014A4E43454C53436F6E746573743031",
    "currency": "ELSContest01",
    "cti": 2533279107010115,
    "ctiLedger": 21646915,
    "ctiTxIndex": 1,
    "ctiValid": false,
    "timestamp": 1465177060,
    "ctiTx": {
      "type": "orderCancellation",
      "account": "r4aqu2zbAdX2QQ9bdeuGwifUMhtEeqx3pY",
      "hash": "D06F5941FD8D1DFAD1A0E4B2BE227C19C0C49B6E6257B846A507E69F9AFB10AA"
    },
    "nft": {
      "type": "xls14"
    }
  },
  "02C7004B041A91880000526964776F726C643836": {
    "type": "nft",
    "currencyCode": "02C7004B041A91880000526964776F726C643836",
    "currency": "Ridworld86",
    "cti": 56013842556817800,
    "ctiLedger": 68850056,
    "ctiTxIndex": 75,
    "ctiValid": true,
    "timestamp": 1641544270,
    "ctiTx": {
      "hash": "79C0E05CB9FC2B74F0B9716C15A6E2F924DBC8658931FD96AC8B158308A9886C",
      "type": "payment",
      "account": "rGpmRmU3Q5gyhhyWLWugkPX6SA8FyqXyE5",
      "counterparty": null,
      "destination": "r4VzEm7Jbgg3QkPBgMscoppz6JuzK2Jkbd",
      "memos": [
        {
          "Memo": {
            "MemoData": "526964776F726C6438362E205261726974793A2052617265204C6567656E642E20416D6F756E74206D696E7465643A2035383920756E6974732E20526964776F726C64C2AE20436F6C6C65637469626C65204E465420436172642047616D652E20496C6C7573747261746F723A205765622041727469737469632E",
            "MemoFormat": "746578742F706C61696E",
            "MemoType": "4465736372697074696F6E"
          }
        },
        {
          "Memo": {
            "MemoData": "456E69676D61",
            "MemoFormat": "746578742F706C61696E",
            "MemoType": "417574686F72"
          }
        },
        {
          "Memo": {
            "MemoData": "697066733A2F2F626166796265696779347869796C347A7062376C667474797832356E7A796E6F32647369766A777378657337376467336936356767796666637665",
            "MemoFormat": "746578742F757269",
            "MemoType": "5072696D617279557269"
          }
        }
      ]
    },
    "nft": {
      "type": "xls14",
      "description": "Ridworld86. Rarity: Rare Legend. Amount minted: 589 units. Ridworld® Collectible NFT Card Game. Illustrator: Web Artistic.",
      "author": "Enigma",
      "primaryUri": "ipfs://bafybeigy4xiyl4zpb7lfttyx25nzyno2dsivjwsxes77dg3i65ggyffcve",
      "backupUri": null,
      "image": null,
      "data": null
    }
  },
  "534F4C4F00000000000000000000000000000000": {
    "type": "hex",
    "currencyCode": "534F4C4F00000000000000000000000000000000",
    "currency": "SOLO"
  }
}
```

This endpoint retrieves information for a requested currencies (HEX or XLS-14 NFT).

### HTTP Request

`GET https://bithomp.com/api/v2/currencies`

### Query Parameters

Parameter     | Description
------------- | -----------
currencyList  | A list of currencies separated by comma (HEX or XLS-14 NFT)

# Get information of ALL

## Services

```shell
curl "https://bithomp.com/api/v2/services"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/services", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/services");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "total": 467,
  "lastUpdate": 1579417546,
  "services": [
    {
      "name": "Bithomp",
      "domain": "bithomp.com",
      "socialAccounts": {
        "twitter": "bithomp",
        "youtube": "channel/UCTvrMnG-Tpqi5FN9zO7GcWw",
        "instagram": "bithomp"
      },
      "addresses": [
        {
          "address": "rsuUjfWxrACCAwGQDsNeZUhpzXf1n1NK5Z"
        },
        {
          "address": "rnk3N5hHnLS6nWncNh2R4D2ATiuEicjxXo"
        },
        {
          "address": "rhUYLd2aUiUVYkBZYwTc5RYgCAbNHAwkeZ",
          "name": "Bithomp activation"
        },
        {
          "address": "rBithomp3UNknnjo8HKNfyS5MN4kdPTZpW"
        },
        {
          "address": "rBithomp4vj5E2kUebx7tVwipBueg55XxS",
          "name": "Bithomp donations"
        },
        {
          "address": "rBithompKtixswR4bknJqYaxnm7yRhGYFq",
          "name": "Bithomp username"
        },
        {
          "address": "rKontEGtDju5MCEJCwtrvTWQQqVAw5juXe",
          "name": "Bithomp validator"
        }
      ]
    },
    {

    }
  ]
}
```

This endpoint retrieves a list of identified services.

### HTTP Request

`GET https://bithomp.com/api/v2/services`

### Response Format

Field | Value | Description
----- | ----- | -----------
total	| Integer	| The amount of identified services.
lastUpdate | Integer | UNIX timestamp of the last data update.
services | Array | Array of services.
services[].name | String | A name of a service.
services[].domain | String | A domain of a service.
services[].socialAccounts | Object | An object with social account of a service. (twitter, youtube, instagram, facebook, medium, telegram, linkedin, reddit)
services[].addresses | Array | An array of service's addresses. Each address can have it's own (more specific) name, domain, socialAccounts.

<aside class="notice">
Before downloading the whole list again you can check if it was updated here: <a href="#services-last-update">Get status: Services</a>
</aside>

## Addresses from Services

```shell
curl "https://bithomp.com/api/v2/services/addresses"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function getData(json) {
  console.log(json)
}
bithompRequest("https://bithomp.com/api/v2/services/addresses", getData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/services/addresses");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "total": 1824,
  "lastUpdate": 1579417546,
  "addresses": {
    "rPEPPER7kfTD9w2To4CQk6UCfuHM9c6GDY": {
      "name": "XRP Tip Bot",
      "domain": "xrptipbot.com",
      "socialAccounts": {
        "twitter": "xrptipbot"
      }
    },
    "r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV": {
      "name": "Ripple",
      "domain": "ripple.com",
      "socialAccounts": {
        "twitter": "Ripple",
        "facebook": "ripplepay",
        "linkedin": "ripple-labs"
      }
    },
  }
}
```

This endpoint retrieves a list of all identified service addresses.

### HTTP Request

`GET https://bithomp.com/api/v2/services/addresses`

### Response Format

Field | Value | Description
----- | ----- | -----------
total	| Integer	| The amount of identified addresses.
lastUpdate | Integer | UNIX timestamp of the last data update.
addresses | Object | Object with identified addresses.
addresses.ADDRESS.name | String | A name of the ADDRESS’s service.
addresses.ADDRESS.domain | String | A domain of the ADDRESS’s service.
addresses.ADDRESS.socialAccounts | Object | An object with social account of the ADDRESS’s service. (twitter, youtube, instagram, facebook, medium, telegram, linkedin, reddit)

<aside class="notice">
Before downloading the whole list again you can check if it was updated here: <a href="#services-last-update">Get status: Services</a>
</aside>

# Transaction

## Tx Decode

```shell
curl "https://bithomp.com/api/v2/transaction/decode/1200032280000000240000003241833237B8665D2F4E00135E8DE646589F68400000000000000C732103709723A5967EAAED571B71DB511D87FA44CC7CDDF827A37F457A25E14D862BCD74473045022100C6A6999BD33153C6A236D78438D1BFEEEC810CFE05D0E41339B577560C9143CA022074F07881F559F56593FF680049C12FC3BCBB0B73CE02338651522891D95886F981146078086881F39B191D63B528D914FEA7F8CA2293F9EA7C06636C69656E747D15426974686F6D7020746F6F6C20762E20302E302E337E0A706C61696E2F74657874E1F1"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function printData(json) {
  console.log(JSON.stringify(json, undefined, 2));
}
bithompRequest("https://bithomp.com/api/v2/transaction/decode/1200032280000000240000003241833237B8665D2F4E00135E8DE646589F68400000000000000C732103709723A5967EAAED571B71DB511D87FA44CC7CDDF827A37F457A25E14D862BCD74473045022100C6A6999BD33153C6A236D78438D1BFEEEC810CFE05D0E41339B577560C9143CA022074F07881F559F56593FF680049C12FC3BCBB0B73CE02338651522891D95886F981146078086881F39B191D63B528D914FEA7F8CA2293F9EA7C06636C69656E747D15426974686F6D7020746F6F6C20762E20302E302E337E0A706C61696E2F74657874E1F1", printData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/transaction/decode/1200032280000000240000003241833237B8665D2F4E00135E8DE646589F68400000000000000C732103709723A5967EAAED571B71DB511D87FA44CC7CDDF827A37F457A25E14D862BCD74473045022100C6A6999BD33153C6A236D78438D1BFEEEC810CFE05D0E41339B577560C9143CA022074F07881F559F56593FF680049C12FC3BCBB0B73CE02338651522891D95886F981146078086881F39B191D63B528D914FEA7F8CA2293F9EA7C06636C69656E747D15426974686F6D7020746F6F6C20762E20302E302E337E0A706C61696E2F74657874E1F1");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "id": "9B124C14528ED14C0BDA17075A39B90ABED598B77A22DFEEBD913CAC07A513BC",
  "signedTransaction": {
    "TransactionType": "AccountSet",
    "Flags": 2147483648,
    "Sequence": 50,
    "EmailHash": "833237B8665D2F4E00135E8DE646589F",
    "Fee": "12",
    "SigningPubKey": "03709723A5967EAAED571B71DB511D87FA44CC7CDDF827A37F457A25E14D862BCD",
    "TxnSignature": "3045022100C6A6999BD33153C6A236D78438D1BFEEEC810CFE05D0E41339B577560C9143CA022074F07881F559F56593FF680049C12FC3BCBB0B73CE02338651522891D95886F9",
    "Account": "r9onCSkYP2tYcukw2KUHMZ1Sn5YixQCgmN",
    "Memos": [
      {
        "Memo": {
          "MemoType": "636C69656E74",
          "MemoData": "426974686F6D7020746F6F6C20762E20302E302E33",
          "MemoFormat": "706C61696E2F74657874"
        }
      }
    ]
  }
}
```

This endpoint decode a signed transaction.
<br>
Page on bithomp with the same decode function, but client-side:
<a href="https://bithomp.com/submit/">
  https://bithomp.com/submit/
</a>.

### HTTP Request

`GET https://bithomp.com/api/v2/transaction/decode/<blob>`

### URL Parameters

Parameter | Description
--------- | -----------
blob | A signed transaction blob to decode

## Tx Submit

```shell
curl -H "Content-Type: application/json"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
  --request POST
  --data '{"signedTransaction":"1200032280000000240000000368400000000000000C732103A71B44FD71C956C3CC0A540F2FBB577C4A300BC71244D86E4EB57220E58BFA26744730450221008D53E4188B39E8EF9953672B42C7ED3F7760F4B2FA51EC91A6EB0B693A6002B2022016384B9F552C75FD3BDE13C65E1CC3DA646AB10E3DD785EB2005620C6AF2C52B7710746573742E626974686F6D702E636F6D811485C536EFA7EAACCC51916E32FF720810A2226008F9EA7C06636C69656E747D16426974686F6D7020746F6F6C20762E20302E342E31317E0A706C61696E2F74657874E1F1","id":"BC35145B69F75FE5B41D6198D56203C2CFD2C1D968C09B09A37530CCB3AD2C6D"}'
  https://bithomp.com/api/v2/transaction/submit/
```

```javascript
$.ajax({
   url: "https://bithomp.com/api/v2/transaction/submit/",
   type: "POST",
   contentType: "application/json",
   headers: {
      "x-bithomp-token": "abcd-abcd-0000-abcd-0123abcdabcd"
   },
   data: {
     "signedTransaction": "1200032280000000240000000368400000000000000C732103A71B44FD71C956C3CC0A540F2FBB577C4A300BC71244D86E4EB57220E58BFA26744730450221008D53E4188B39E8EF9953672B42C7ED3F7760F4B2FA51EC91A6EB0B693A6002B2022016384B9F552C75FD3BDE13C65E1CC3DA646AB10E3DD785EB2005620C6AF2C52B7710746573742E626974686F6D702E636F6D811485C536EFA7EAACCC51916E32FF720810A2226008F9EA7C06636C69656E747D16426974686F6D7020746F6F6C20762E20302E342E31317E0A706C61696E2F74657874E1F1",
     "id": "BC35145B69F75FE5B41D6198D56203C2CFD2C1D968C09B09A37530CCB3AD2C6D"
   },
   success: function(result) {
      console.log(JSON.stringify(result, undefined, 2));
   },
   error: function(error) {
      console.log(error);
   }
});
```

> The above command returns JSON structured like one of those:

```json
{
  "result": "tesSUCCESS",
  "id": "BC35145B69F75FE5B41D6198D56203C2CFD2C1D968C09B09A37530CCB3AD2C6D"
}

{
  "result": "terNO_ACCOUNT",
  "message": "The source account does not exist.",
  "id": "BC35145B69F75FE5B41D6198D56203C2CFD2C1D968C09B09A37530CCB3AD2C6D"
}

{
  "result": "terPRE_SEQ",
  "message": "Missing/inapplicable prior transaction.",
  "id": "BC35145B69F75FE5B41D6198D56203C2CFD2C1D968C09B09A37530CCB3AD2C6D"
}

```

This endpoint returns a final status of a submitted transaction.
<br>
Page where it used on bithomp:
<a href="https://bithomp.com/explorer/?hwlogin">
  https://bithomp.com/explorer/?hwlogin
</a>.

### HTTP Request

`POST https://bithomp.com/api/v2/transaction/submit`

### POST Parameters

Parameter | Description
--------- | -----------
id | (Optional) A calculated hash of the signed transaction
signedTransaction | A blob of signed transaction to submit

# Historical data

## Genesis

```shell
curl "https://bithomp.com/api/v2/genesis"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function printData(json) {
  console.log(JSON.stringify(json, undefined, 2));
}
bithompRequest("https://bithomp.com/api/v2/genesis", printData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/genesis");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "count": 136,
  "inception": 1357010470,
  "ledger_index": 32570,
  "genesis_balance_all": 99999999999.99632,
  "balance_all": 483189349.682485,
  "balance_update": 1578499794,
  "genesis": [
    {
      "address": "rBKPS4oLSaV2KVVuHH8EpQqMGgGefGFQs7",
      "genesis_balance": 370,
      "genesis_index": 1,
      "balance": 20.009958
    },
    {
      "address": "rLs1MzkFWCxTbuAHgjeTZK4fcCDDnf2KRv",
      "genesis_balance": 10000,
      "genesis_index": 2,
      "rippletrade": "leotreasure",
      "balance": 4507.158497
    },
    {

    }
  ]
}
```

This endpoint retrieves a list of addresses from the first available ledger in XRPL history.
<br>
Page where it used on bithomp:
<a href="https://bithomp.com/genesis">https://bithomp.com/genesis</a>.

### HTTP Request

`GET https://bithomp.com/api/v2/genesis`

### Response Format

Field | Value | Description
----- | ----- | -----------
count	| Integer	| The amount of returned addresses.
inception	| Integer	| Inception UNIX timestamp.
ledger_index | Integer | Ledger index (the first available in history).
genesis_balance_all | Float | Sum of all balances in the ledger_index.
balance_all | Float | Sum of balances of those addresses on the balance_update time.
balance_update | Integer | UNIX timestamp of the last update of balances.
genesis | Array | Array of addresses in ledger_index.
genesis[].address | String | Address
genesis[].genesis_balance | Float | XRP balance on that genesis[].address on the time of inception.
genesis[].genesis_index | Integer | Index of the address in the ledger_index.
genesis[].rippletrade | String | Username that genesis[].address used on rippletrade.com.
genesis[].nickname | String | Username that genesis[].address used on bitcointalk.org or assign by Ripple (X.).
genesis[].balance | Float | XRP balance on that genesis[].address on the time of balance_update.

## History of XRP price alerts

```shell
curl "https://bithomp.com/api/v2/price/xrp/alerts"
  -H "x-bithomp-token: abcd-abcd-0000-abcd-0123abcdabcd"
```

```javascript
function printData(json) {
  console.log(JSON.stringify(json, undefined, 2));
}
bithompRequest("https://bithomp.com/api/v2/price/xrp/alerts", printData);
```

```php
$data = curl_bithomp("https://bithomp.com/api/v2/price/xrp/alerts");
print $data;
```

> The above command returns JSON structured like this:

```json
{
  "count": 50,
  "timestamp": 1578748266,
  "alerts": [
    {
      "currency": "btc",
      "change": "-10.07%",
      "timestamp_old": 1578344400,
      "timestamp_new": 1578415200,
      "rate_old": 0.00002959,
      "rate_new": 0.00002661
    },
    {
      "currency": "btc",
      "change": "+10.02%",
      "timestamp_old": 1578297600,
      "timestamp_new": 1578327600,
      "rate_old": 0.00002616,
      "rate_new": 0.00002878
    },
    {

    }
  ]
}
```

This endpoint retrieves a list of our XRP price alerts.
<br>
Page where it used on bithomp:
<a href="https://bithomp.com/alerts">https://bithomp.com/alerts</a>.

### HTTP Request

`GET https://bithomp.com/api/v2/price/xrp/alerts`

### Response Format

Field | Value | Description
----- | ----- | -----------
count | Integer	The amount of returned alert records.
timestamp | Integer | UNIX timestamp for a request.
alerts | Array | Array of alert records.
genesis[].currency | String | Currency (in XRP/currency pair).
genesis[].change | String | Price change percentage (ex.: +10.24%).
genesis[].timestamp_old | Integer | Unix timestamp in seconds for the price: genesis[].rate_old.
genesis[].timestamp_new | Integer | Unix timestamp in seconds for the price: genesis[].rate_new.
genesis[].rate_old | Float | The price at genesis[].timestamp_old.
genesis[].rate_new | Float | The price at genesis[].timestamp_new.
